extends layout

block content
  form(method='post')
  h1 Login
  input(type='text', name='username', placeholder='Username')
  input(type='password', name='password', placeholder='Password')
  input.login-submit(type='submit', value='Login')
